.main-header {
    &.is-doc {
        img {
            width: 80px;
        }
        h1 {
            font-size: 36px;
        }
    }
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
    img {
        width: 150px;
    }
    h1 {
        font-size: 48px;
        margin-bottom: 0;
    }
}